### Seaborn

In [1]:
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
print(sns.__version__)

0.13.2

In [3]:
tips=sns.load_dataset('tips')
tips.sample()

    total_bill   tip     sex smoker  day    time  size
21       20.29  2.75  Female     No  Sat  Dinner     2