### Seaborn
Seaborn is visualization library for statistical graphics plotting in Python

In [1]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
print(sns.__version__)

0.13.2

In [3]:
# To set dataset in seaborn
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']

In [5]:
tips=sns.load_dataset('tips')
tips.sample()

    total_bill  tip   sex smoker  day    time  size
61       13.81  2.0  Male    Yes  Sat  Dinner     2

In [4]:
df=sns.load_dataset('dots')
df.head()

  align choice  time  coherence  firing_rate
0  dots     T1   -80        0.0    33.189967
1  dots     T1   -80        3.2    31.691726
2  dots     T1   -80        6.4    34.279840
3  dots     T1   -80       12.8    32.631874
4  dots     T1   -80       25.6    35.060487