### Seaborn

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns

ModuleNotFoundError: No module named 'seaborn'

In [2]:
print(sns.__version__)

0.13.2

In [5]:
tips=sns.load_dataset('tips')
tips.sample()

   total_bill   tip   sex smoker  day    time  size
5       25.29  4.71  Male     No  Sun  Dinner     4