- matrix plots

2 functions: 

- heatmap() 
- clustermap()

In [2]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [5]:
data=sns.load_dataset('tips')
data.sample(2)

     total_bill  tip     sex smoker  day    time  size
214       28.17  6.5  Female    Yes  Sat  Dinner     3
236       12.60  1.0    Male    Yes  Sat  Dinner     2