In [2]:
import pandas as pd

In [ ]:
data={
    'Roll No': [1, 2, 3, 4], # Create a dictionary with data
    'Name': ['Shivam', 'Mithun', 'Sanket', 'Kamlesh'],
}
df=pd.DataFrame(data)
print(df)

In [ ]:
# df1=pd.DataFrame(data, index=['a', 'b', 'c', 'd']) # Create DataFrame with custom index

Accessing row with index with locate(loc)

In [ ]:

print(df.loc[1]) # Access row with index label 1
# Above Code returns a Pandas Series.
print("------------------------")
print(df.loc[[1]]) # Access row with index label 1 and 3
# Above code returns a Pandas DataFrame.

## With Custom index

In [ ]:
demoData = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

df = pd.DataFrame(demoData, index = ["day1", "day2", "day3"])

print(df)

## Loading Files Into DataFrame

In [3]:
df = pd.read_csv('DataSet_Sample/StudentData.csv')
print(df)

    Student_ID            Name  Age                City           State  \
0          100    Mithun Kumar   22              Bhopal              MP
1          101    Aarav Sharma   20              Mumbai     Maharashtra
2          102      Priya Iyer   21             Chennai      Tamil Nadu
3          103     Rohan Gupta   19               Delhi           Delhi
4          104    Ishita Singh   20              Jaipur       Rajasthan
5          105    Vikram Patel   22           Ahmedabad         Gujarat
6          106     Sneha Reddy   21           Hyderabad       Telangana
7          107    Aditya Mehta   23                Pune     Maharashtra
8          108      Ananya Das   20             Kolkata     West Bengal
9          109   Devansh Kumar   19           Bangalore       Karnataka
10         110     Kiara Joshi   21               Surat         Gujarat
11         111      Arjun Nair   22  Thiruvananthapuram          Kerala
12         112     Myra Kapoor   20             Lucknow   Uttar Pradesh
13         113   Samarth Verma   23          Chandigarh      Chandigarh
14         114  Diya Mukherjee   21              Bhopal  Madhya Pradesh
15         115   Krishna Joshi   19              Nagpur     Maharashtra
16         116       Anika Sen   20               Patna           Bihar
17         117  Shivansh Yadav   22            Ludhiana          Punjab
18         118  Kiara Malhotra   21              Indore  Madhya Pradesh
19         119   Ayaan Chauhan   20          Coimbatore      Tamil Nadu
20         120   Saanvi Ramesh   19             Madurai      Tamil Nadu

                 Major  CGPA
0              CS Eng.   8.0
1     Computer Science   8.5
2         Data Science   9.2
3      Mechanical Eng.   7.8
4        Biotechnology   8.9
5           Civil Eng.   7.5
6          Electronics   9.0
7    Information Tech.   8.1
8          Mathematics   9.3
9              Physics   8.4
10       Chemical Eng.   8.7
11        Architecture   7.9
12          Statistics   9.1
13     Electrical Eng.   8.2
14  Environmental Sci.   8.8
15      Aerospace Eng.   7.6
16          Philosophy   9.4
17                 Law   8.3
18        English Lit    9.0
19             Finance   8.6
20           Marketing   9.2